.navbar-color{
    background: rgb(2, 0, 36);
    height: 80px;
    
 
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: aliceblue;
  font-size: 24px;
}

img{
  height: 100px;
  width: 300px;
  z-index: 100;
}

@media screen and (max-width: 600px) {
 
.navbar-color{
  height: 130px;
}
.menu{
  flex-direction: column;
}
img{
  width: 200px;
  height: 75px;
}

}